<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/notFound.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>HomePagesServlet</servlet-name>
        <servlet-class>controllers.HomePagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controllers.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateServlet</servlet-name>
        <servlet-class>controllers.CertificateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionaryServlet</servlet-name>
        <servlet-class>controllers.FunctionaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobFunctionsServlet</servlet-name>
        <servlet-class>controllers.JobFunctionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>controllers.ContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamControllerServlet</servlet-name>
        <servlet-class>controllers.TeamControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePagesServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/my-home/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/my-home/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateServlet</servlet-name>
        <url-pattern>/my-home/certificates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionaryServlet</servlet-name>
        <url-pattern>/my-home/functionaries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobFunctionsServlet</servlet-name>
        <url-pattern>/my-home/jobfunctions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/my-home/contracts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamControllerServlet</servlet-name>
        <url-pattern>/my-home/teamcontrollers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
